<!DOCTYPE html>
<html lang="en">

  <head>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="../src/Store.js"></script>
    <script src="../src/ShoppingCart.js"></script>
    <title>Shop</title>
  </head>
  <body>

      <h1 id="Shop"></h1>

      <ul id='shop-list'>
      </ul>

      <script type="text/javascript">
      let shopList = document.getElementById('shop-list');
      store.stock.forEach(item =>  {
        $("shop-list").append("<h1>hi</h1>")
      });


      </script>



  <script>
    let cartTotal = document.getElementById('shoppingCartTotal');
    let descp = document.getElementById('desciption');
    let price = document.getElementById('price');
    cartTotal.innerHTML = shoppingCart.cart.length;
    descp.innerHTML = store.stock[0].productName;
    price.innerHTML = store.stock[0].price;
      </script>
    </body>
  </html>
